.easy_social_box.vertical div.easy_social-widget-email {
  height: 68px;
}
.easy_social_box
.easy_social-widget-email
span.easy-social-email-button
a {
  top: 40px;
}
.easy_social_box
.easy_social-widget-email
span.easy-social-email-button
a
span {
}
span.easy-social-email-button a {
	display:block;
	font-size: 11px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	background: #ccc;
	border-radius: 2px;
	padding: 5px 6px 4px 5px;
	font-family:arial;
	line-height: 11px;
}
	span.easy-social-email-button a:hover {
		text-decoration: none;
		background: #ddd;
	}

.easy-social-email-button i {
	padding: 1px 8px;
	background-image: url(email.png);
	background-size: auto;
	background-repeat: no-repeat;
}
.easy-social-email-span{
	color: #000;
}